html {
    box-sizing: border-box;
}
*::after,
*::before {
    box-sizing: inherit;
}
h1,h2,h3,h4,h5, h6 {
    margin: 0;
}
body {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    padding: 0;
    margin: 0;
}
ul,
li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
    color: inherit;
}
.wrapper {
    width: 1020px;
    margin: 0 auto;
}

.container {
    width: 940px;
    padding: 0 10px;
    margin: 0 auto;
}



.title {
    padding-top: 60px;
    margin-bottom: 21px;

    font-weight: 900;
    font-size: 30px;
    color: #666d89;
}

.text {
    font-size: 18px;
    font-weight: 300;
    color: #767e9e;
}



.card__links a {
    margin-right: 5px;
    border-radius: 50%;
    border: 1px solid grey;
    display: inline-block;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 33px;
}
.card__links a:hover {
    background-color: #fff;
}



.contact {
    background-color: #f06c64;
    border-bottom: 6px solid #ea676b;
    color: #f0d8d9;
}
.contact .title,
.contact .text {
    color: #f0d8d9;
}
.contact .text {
    margin-bottom: 45px;
    line-height: 27px;
}
textarea {
    resize: none;
    height: 177px;
}
.contact__inner {
    display: flex;
    margin-bottom: 50px;
}
form button {
    margin: 0 auto;
}
form input,
form textarea{
    width: 590px;
    padding: 15px 15px 10px 15px;
    background-color: rgba(0, 0, 0, 0.1);
    color: #f48c8f;
    border: none;
    margin-bottom: 15px;
    border-radius: 5px;
    font-size: 12px;
}
input::placeholder{
    color: #f48c8f;
    font-size: 12px;
}
textarea::placeholder {
    color: #f48c8f;
    font-size: 12px;
}
form {
    position: relative;
}
button {
    position: absolute;
    right: 0;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.1);
    color: #f48c8f;
    cursor: pointer;
}

.info-box {
    margin-left: 20px;
}
.info-box__title {
    font-size: 18px;
    font-weight: 900;
}
.info-box__text {
    margin-top: 7px;
    margin-bottom: 24px;
    max-width: 300px;
    font-size: 12px;
    line-height: 21px;
}
.info-box__link {
    position: relative;
    display: block;
    padding-left: 23px;
    font-size: 12px;
    line-height: 21px;
}
.info-box__link::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    background-image: url('assets/images/phone1.png');
    width: 13px;
    height: 13px;
    background-repeat: no-repeat;
}
.info-box__link:nth-child(3)::before {
    background-image: url('assets/images/location.png');
}
.info-box__link:last-child::before {
    background-image: url('assets/images/mail.png');
}
.footer {
    background-color: #2d303a;
}
.footer__inner  {
    height: 76px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
    color: #626984;
}
.footer__inner .card__links a:nth-child(4) {
    margin-right: 0px;
}
